<div class="img-box">
    <img src="../../../assets/img/Group 30690.png" alt="reviewist-img">
</div>
<section>
    <div class="selectbox-container">
        <div>
            <select name="" id="">
                <option value="">Rating</option>
            </select>
        </div>
        <div>
            <select name="" id="">
                <option value="">Location</option>
            </select>
        </div>
        <div>
            <select name="" id="">
                <option value="">Rajasthan</option>
            </select>
        </div>
    </div>
    <div class="box-container">
        <div class="boxone">
            <div class="reviews-container reviews-box">
                <div class="review-logo box1">
                    <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                </div>
                <div class="review-container box2">
                    <img src='assets/img/Ellipse 202.png' alt="review">
                    <p class="review-name">Adam Levine</p>
                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                    <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                </div>
            </div>
            <div class="box1">
                <h3 class="bold">One of the amazing Trip</h3>
                <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                        off</span></span>
                <p class="light margin-t">Price match within 48 hours of order confirmationPrice match within 48
                    hours of order confirmationPrice match within 48 hours of order confirmation</p>
                <div class="likebtn-box">
                    <div class="like-btn"><span class="light light-b"><i class="fal fa-thumbs-up"></i>This review is
                            helpful</span></div>
                    <div class="center"><span class="votes">10 Votes</span>
                    </div>
                </div>
                <div>
                    <p class="red review-name end">Read Less</p>
                </div>
                <div class="review-imgbox">
                    <div>
                        <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div class="last-review-img">
                        <span>+5 Photos</span>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="boxone">
            <div class="reviews-container reviews-box">
                <div class="review-logo box1">
                    <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                </div>
                <div class="review-container box2">
                    <img src='assets/img/Ellipse 202.png' alt="review">
                    <p class="review-name">Adam Levine</p>
                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                    <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                </div>
            </div>
            <div class="box1">
                <h3 class="bold">One of the amazing Trip</h3>
                <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                        off</span></span>
                <p class="light margin-t">Price match within 48 hours of order confirmationPrice match</p>
                <div class="likebtn-box">
                    <div class="like-btn"><span class="light light-b"><i class="fal fa-thumbs-up"></i>This review is
                            helpful</span></div>
                    <div class="center"><span class="votes">10 Votes</span>
                    </div>
                </div>
                <div>
                    <p class="red review-name end">Read More</p>
                </div>
                <div class="review-imgbox">
                    <div>
                        <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                    <div class="last-review-img">
                        <span>+5 Photos</span>
                        <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="review-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="review-list">
            <div><span><i class="far fa-arrow-left"></i></span></div>
            <div><span>1</span></div>
            <div><span class="light">2</span></div>
            <div><span class="light">3</span></div>
            <div><span class="light">4</span></div>
            <div><span><i class="far fa-arrow-right"></i></span></div>
        </div>
    </div>
</section>