<section>
    <div class="related-tours">
        <h4>Raise a Ticket</h4>
    </div>
    <div class="container">
      <div class="left-box">
          <h4>If you have any queries please fill the below details</h4>
          <div class="left-box-width">
              <div>
              <select name="" id="">
                  <option value="Type of Query">Type of Query</option>
                  <option value="Select Option">Select Option</option>
              </select>
            </div>
            <div>
                <input type="text" placeholder="Name">
            </div>
            <div>
                <input type="text" placeholder="Email">
            </div>
            <div>
                <input type="text" placeholder="Enter Your Mobile Number">
            </div>
            <div>
                <select name="" id="">
                    <option value="Type of Query">Type of Query</option>
                    <option value="Select Option">Select Option</option>
                </select>
            </div>
            <div>
                <input type="text" placeholder="PNR">
            </div>
            <div>
                <input placeholder="Travelling Date" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
            </div>
            <div>
                <input type="text" placeholder="Subject">
            </div>
            <div>
                <textarea name="Write to us..." placeholder="Write to us..."></textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
          </div>
      </div>
      <div>
          <div class="img-box">
            <img src="../../../assets/img/portrait-woman-customer-service-worker.png" alt="customer-service">
          </div>
      </div>
    </div>
</section>