 <div class="fixed">
    <div class="container">
        <div class="header-logo">
            <img src="assets/img/looogo.png" alt="logo">
        </div>
        <div class="header-searchbox">    
             <i class="fal fa-search"></i>
                <input type="text" placeholder="Search Tours Activities" />
        </div>
        <div class="right_head">
            <span>All categories</span>
            <span>Adventure</span>
            <span><i class="fal fa-user"></i>Login</span>
        </div>
    </div>
</div>
