.dropdown {
  text-align: center;
  position: absolute;
}
.dropdown .box {
  position: relative;
  margin-top: 20vh;
  margin-left: 50vh;
  width: 90rem;
  height: 32rem;
  text-align: left;
  border-radius: 5px;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
  box-sizing: border-box;
}
.dropdown .box:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 0px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 0px solid #fff;
  border-right: 2px solid #fff;
  top: 5%;
  left: 50%;
  margin-left: -5rem;
  content: "";
  transform: rotate(45deg);
  margin-top: -2.6rem;
  background: #fff;
}
.dropdown .box img {
  margin-left: -2rem;
}
.dropdown .box h2 {
  margin-left: 3rem;
}
.dropdown .box .place a {
  margin-left: 3rem;
}
.dropdown .box .tours a {
  margin-left: 3rem;
}
.dropdown .box .activities a {
  margin-left: 3rem;
}
.dropdown .box .treks a {
  margin-left: 3rem;
}
.dropdown .box .trending a {
  margin-left: 3rem;
}
.dropdown .box ul {
  list-style-type: none;
}
.dropdown .box ul a {
  text-decoration: none;
}
.dropdown .box ul h2 {
  text-align: left;
  font: normal normal 800 20px/19px Montserrat;
  letter-spacing: 0px;
  color: #3a3a3a;
  opacity: 1;
}
.dropdown .box ul h2 img {
  width: 16px;
  height: 15px;
}
.dropdown .box li a {
  line-height: 2.5;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #949494;
  opacity: 1;
  text-align: left;
  margin-left: 0rem;
}
.dropdown .box a {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
  color: #f96939;
  opacity: 1;
}
.dropdown .box .place {
  margin-top: -6rem;
}
.dropdown .box .tours {
  margin-top: -6rem;
}
.dropdown .box .activities {
  margin-top: -1rem;
}
.dropdown .box .treks {
  margin-top: 2.5rem;
}
.dropdown .box .trending {
  margin-top: 2.5rem;
}
