
    <title>Dropdown</title>
<div class="row">
    <img src="assets/img/dropdown/screen.png" alt="">
   
    <div class="dropdown">
        
        <div class="box" >
            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="place">
                                <h2> <img src="assets/img/dropdown/worldwide.png" alt=""> Top Places</h2>
                                <li><a href="#" >Asia</a></li>
                                <li><a href="#" >Australia</a></li>
                                <li><a href="#" >America</a></li>
                                <li><a href="#" >Europe</a></li>
                                <a href="#">All Places</a>
                            </ul>
                          

                        </td>
                        <td>
                            <ul class="tours"  >
                                <h2><img src="assets/img/dropdown/luggage (1).png" alt=""> Tours</h2>
                                <li><a href="#" >Sightseeing</a></li>
                                <li><a href="#" >Private Tours</a></li>
                                <li><a href="#" >One Day Tour</a></li>
                                <li><a href="#" >Weeking Tour</a></li>
                                <a href="#">All Tours</a>
                            </ul>

                        </td>
                        <td>
                            <ul class="activities" >
                                <h2><img src="assets/img/dropdown/hot-air-balloon (2).png" alt=""> Activities</h2>
                                <li><a href="#" >Bung Juumping</a></li>
                                <li><a href="#" >Sking</a></li>
                                <li><a href="#" >Snowboading</a></li>
                                <li><a href="#" >Skydiving</a></li>
                                <li><a href="#" >Rappeling</a></li>
                                <li><a href="#" >Paragliding</a></li>
                                <a href="#">All Activities</a>
                            </ul>

                        </td>
                        <td>
                            <ul class="treks"  >
                                <h2 > <img src="assets/img/dropdown/006---Hiking.png" alt=""> Treks</h2>
                                <li><a href="#" >Kheerganga Trek</a></li>
                                <li><a href="#" >Trund Trek</a></li>
                                <li><a href="#" >Kedartal Trek</a></li>
                                <li><a href="#" >Grochala Trek</a></li>
                                <li><a href="#" >Chadar Trek</a></li>
                                <li><a href="#" >Hampta Pass Trek</a></li>
                                <li><a href="#" >Kashmir Grat Lake Trek</a></li>
                                <a href="#">All Treks</a>
                            </ul>

                        </td>
                        <td>
                            <ul class="trending" >
                                <h2><img src="assets/img/dropdown/burn (1).png" alt=""> Trendings</h2>
                                <li><a href="#" >Ladakh Bike Tour</a></li>
                                <li><a href="#" >Jaisalmer Tour</a></li>
                                <li><a href="#" >Manali Tour</a></li>
                                <li><a href="#" >Ceochala Trek</a></li>
                                <li><a href="#" >Chadar Trek</a></li>
                                <li><a href="#" >Hampla Pass Trek</a></li>
                                <li><a href="#" >Kashmir Great Lake Trek </a></li>
                                <a href="#">All Trendings</a>
                            </ul>

                        </td>
                       
                    </tr>
                    
                </tbody>
            </table>
            
           
        </div>
    </div>
</div>
   
