<div class="forget-popup">
    <img src="assets/img/forgetpassword/pic2.png" alt="">
    <div class="box">
       
        <div class="form">
            <div class="close">
                &times;
            </div>
            <h3>Forget Password</h3>
            <hr class="solid">
        
            <br>
            <form>
               
                <div class="form-group ">
                    <p>Email</p>
                    <input type="email" placeholder="demo@gmail.com" class="form-control">

                </div>
                <button type="reset" class="btn" >Reset</button>
                
            </form>
           
            <p>Already Have An Account? <a href="#">Log In</a></p>
            <p>or Login with</p>

            <div class="social">
                <a href="#" > <img src="assets/img/forgetpassword/google.png" alt="" ></a>
                <a href="#"> <img src="assets/img/forgetpassword/facebook.png" alt="" ></a>
            </div>
            
        </div>
        <div class="img-area">
            
            <h3>
                Your Adventure Starts Here
            </h3>
             
            <div class="img" style="background-image: url('assets/forget/pic-3.png');">
              
                <img src="" alt="assets/forget/pic-3.png">
                
            
            </div>
              
            
            <p>Experiance 20,000+ Tour And Activities from 1,200+ Suppliers</p>

        </div>
        
    </div>
</div>