<section>
    <div class="container">
     <div class="left-box">
       <div>
           <h2>Apply to this Role</h2>
           <div class="login-border"></div>  
       </div>
       <div class="leftdiv-box">
       <div>
           <input type="text" placeholder="Name">
       </div>
       <div>
           <input type="text" placeholder="Email">
       </div>
       <div>
           <input type="text" placeholder="Enter Your Mobile Number">
       </div>
       <div>
           <input type="text" placeholder="Linkeding Profile">
       </div>
       <div>
           <input type="text" placeholder="Attach CV">
       </div>
       <div>
           <textarea name="AddCoverLetter" placeholder="Add Cover Letter"></textarea>
       </div>
       </div>
       <div><button>Apply Now</button></div>
     </div>
     <div class="right-box">
         <img src="../../../assets/img/austin-distel-qgdJX9mvMJI-unsplash.png" alt="apllication-image">
     </div>
    </div>
</section>