<section>
    <div class="blog-heading">
        <span class="light">Home</span>
        <span class="light">❯ Blog</span>
        <span class="red">❯ Anjuna Beach – The Best Beach in Goa for Nightlife</span>
    </div>
    <div class="title-section">
        <h4 class="head-title">Anjuna Beach – The Best Beach in Goa for Nightlife</h4>
        <span class="comments"><i class="far fa-clock"></i>24 June, 2020</span>
        <span class="comments"><i class="far fa-user"></i>Authorname</span>
        <span class="comments"><i class="far fa-clipboard-list"></i>Blog, Destination, Goa</span>
    </div>
</section>
<div class="aside-container">
    <aside>
        <div class="socialmedia-logo">
            <div><span class="share">Share</span></div>
            <div><img src='assets/img/whatsapp.png' alt="whatsapp"></div>
            <div><img src='assets/img/instagram (3).png' alt="instagram"></div>
            <div><img src='assets/img/001-facebook.png' alt="facebook"></div>
            <div><img src='assets/img/013-twitter.png' alt="twitter"></div>
            <div><img src='assets/img/010-linkedin.png' alt="linkedin"></div>
        </div>
    </aside>
    <div class="blog-para">
        <p class="light">Sinquerim beach is one of the most divine places of the state, which is situated at the
            northern coast of goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim
            beach is popular for adventurous sports like skiing, parasailing, fishing, scuba diving, and
            windsurfing.Sinquerim beach is one of the most divine places of the state, which is situated at the northern
            coast of goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim beach is
            popular for adventurous sports like skiing, parasailing, fishing, scuba diving, and windsurfing.</p>
        <div class="blog-img">
            <img src='../../../assets/img/pexels-photo-176400.png' alt="blog-img">
        </div>
    </div>
    <div class="popular-post-container">
        <div class="popular-post-box">
            <span>Popular Post</span>
            <div class="popular-post">
                <div>
                    <img src="../../../assets/img/shutterstock_465949868.png" alt="popular-post1">
                </div>
                <div class="aside-title">
                    <p>Anjuna Beach – The Best Beach in Goa for Nightlife</p>
                    <p>23 July, 2020</p>
                </div>
            </div>
            <div class="popular-post">
                <div>
                    <img src="../../../assets/img/photo-1447834353189-91c48abf20e1.png" alt="popular-post1">
                </div>
                <div class="aside-title">
                    <p>Anjuna Beach – The Best Beach in Goa for Nightlife</p>
                    <p>23 July, 2020</p>
                </div>
            </div>
            <div class="popular-post">
                <div>
                    <img src="../../../assets/img/shutterstock_749309983.png" alt="popular-post1">
                </div>
                <div class="aside-title">
                    <p>Anjuna Beach – The Best Beach in Goa for Nightlife</p>
                    <p>23 July, 2020</p>
                </div>
            </div>
            <div class="popular-post">
                <div>
                    <img src="../../../assets/img/shutterstock_245507692.png" alt="popular-post1">
                </div>
                <div class="aside-title">
                    <p>Anjuna Beach – The Best Beach in Goa for Nightlife</p>
                    <p>23 July, 2020</p>
                </div>
            </div>
            <div class="popular-post">
                <div>
                    <img src="../../../assets/img/summertime-background-img-6.png" alt="popular-post1">
                </div>
                <div class="aside-title">
                    <p>Anjuna Beach – The Best Beach in Goa for Nightlife</p>
                    <p>23 July, 2020</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-container2">
    <div class="blog-para2">
        <p class="light">
            Sinquerim beach is one of the most divine places of the state, which is situated at the northern coast
            of
            goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim beach is
            popular
            for adventurous sports like skiing, parasailing, fishing, scuba diving, and windsurfing.Sinquerim beach
            is
            one of the most divine places of the state, which is situated at the northern coast of goa to near
            famous
            beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim beach is popular for adventurous
            sports like skiing, parasailing, fishing, scuba diving, and windsurfing.Sinquerim beach is one of the
            most
            divine places of the state, which is situated at the northern coast of goa to near famous beaches like
            Baga
            Beach, Candolim Beach, and Calangute Beach.
        </p>
        <div class="blog-img">
            <img src='../../../assets/img/pexels-photo-176400.png' alt="blog-img">
        </div>
        <p class="light">
            Sinquerim beach is one of the most divine places of the state, which is situated at the northern coast
            of
            goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim beach is
            popular
            for adventurous sports like skiing, parasailing, fishing, scuba diving, and windsurfing.Sinquerim beach
            is
            one of the most divine places of the state, which is situated at the northern coast of goa to near
            famous
            beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim beach is popular for adventurous
            sports like skiing, parasailing, fishing, scuba diving, and windsurfing.Sinquerim beach is one of the
            most
            divine places of the state, which is situated at the northern coast of goa to near famous beaches like
            Baga
            Beach, Candolim Beach, and Calangute Beach.
        </p>
        <div class="tag-container">
            <span class="tag-title">Tags :</span>
            <div> <span class="tag">Goa</span></div>
            <div> <span class="tag">Beach</span></div>
        </div>
    </div>
    <div class="enquiry-box">
        <div class="enq-box">
        <h2>Enquiry Now</h2>
        <div>
            <input type="text" placeholder="Name" />
        </div>
        <div>
            <input type="text" placeholder="Email">
        </div>
        <div>
            <input type="text" placeholder="Enter Your Mobile Number">
        </div>
        <div>
            <input type="text" placeholder="Travel Date">
        </div>
        <div>
            <input type="text" placeholder="No of People">
        </div>
        <div>
            <textarea name="yourenquiry" id="yourenquiry" placeholder="Your Enquiry..."></textarea>
        </div>
        <div class="enqbtn-box">
            <button class="enq-btn">Enquiry Now</button>
        </div>
    </div>
    </div>
</div>
<div class="prev-post-container">
    <div class="prev-post">
        <div>
            <span class="red"><i class="fad fa-arrow-left arrow"></i>Previous Post</span>
        </div>
        <div>
            <span class="red">Previous Post<i class="fad fa-arrow-right arrow"></i></span>
        </div>
    </div>
    <div class="prev-post">
        <div>
            <span class="bold">The Most luxurious way to spend your vacation</span>
        </div>
        <div>
            <span class="bold">Why you should rent Harfold Villas</span>
        </div>
    </div>
    <div>
        <span class="post-comment">Comments ( 4 )</span>
    </div>
    <div class="post-comments">
        <div class="post-flex">
            <div class="profile-img">
                <img src="../../../assets/img/Oval.png" alt="comment-img">
            </div>
            <div class="right-comment-post">
                <div class="reply-flex">
                    <span class="bold">Maninder Kaur</span>
                    <span class="reply"><i class="fas fa-reply"></i>Reply</span>
                </div>
                <p class="light">October 02, 2017</p>
                <span class="text-bold">It was a great experience working with Team Alphonic. They were very
                    detailed
                    throughout the project development and provided us great suggestions in the successful execution
                    of
                    a project. They are highly experienced and skilled developers and understand the value of time.
                    Higly recommended.</span>
            </div>
        </div>
        <div class="posts-flex">
            <div>
                <img src="../../../assets/img/Oval1.png" alt="comment-img">
            </div>
            <div class="right-comment-post">
                <div class="reply-flex">
                    <span class="bold">Maninder Kaur</span>
                    <span class="reply"><i class="fas fa-reply"></i>Reply</span>
                </div>
                <p class="light">October 02, 2017</p>
                <span class="text-bold">It was a great experience working with Team Alphonic. They were very
                    detailed
                    throughout the project development and provided us great suggestions in the successful execution
                    of
                    a project. They are highly experienced and skilled developers and understand the value of time.
                    Higly recommended.
                </span>
            </div>
        </div>
        <div class="posts-flex">
            <div>
                <img src="../../../assets/img/Oval3.png" alt="comment-img">
            </div>
            <div class="right-comment-post">
                <div class="reply-flex">
                    <span class="bold">Maninder Kaur</span>
                    <span class="reply"><i class="fas fa-reply"></i>Reply</span>
                </div>
                <p class="light">October 02, 2017</p>
                <span class="text-bold">It was a great experience working with Team Alphonic. They were very
                    detailed
                    throughout the project development and provided us great suggestions in the successful execution
                    of
                    a project. They are highly experienced and skilled developers and understand the value of time.
                    Higly recommended.</span>
            </div>
        </div>
        <div class="submit-box">
            <div>
                <input type="text" placeholder="Your Comment" />
            </div>
            <div>
                <button>Submit</button>
            </div>
        </div>
        <div class="post-flex">
            <div class="profile-img">
                <img src="../../../assets/img/Oval.png" alt="comment-img">
            </div>
            <div class="right-comment-post">
                <div class="reply-flex">
                    <span class="bold">Maninder Kaur</span>
                    <span class="reply"><i class="fas fa-reply"></i>Reply</span>
                </div>
                <p class="light">October 02, 2017</p>
                <span class="text-bold">It was a great experience working with Team Alphonic. They were very
                    detailed
                    throughout the project development and provided us great suggestions in the successful execution
                    of
                    a project. They are highly experienced and skilled developers and understand the value of time.
                    Higly recommended.</span>
            </div>
        </div>
    </div>
</div>
<div class="faq-box">
    <div class="title-section">
        <h4>FAQs</h4>
    </div>
    <div class="faq-container">
        <div>
            <h5 class="number">01</h5>
        </div>
        <div class="faq-content">
            <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
            <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                mercury to
                go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is
                the
                best time to visit and experience all the wonderful colours the place is splashed in. Also the time
                when
                the popular Hemis Festival takes place.</p>
        </div>
    </div>
    <div class="faq-container">
        <div>
            <h5 class="number">01</h5>
        </div>
        <div class="faq-content">
            <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
            <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                mercury to
                go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is
                the
                best time to visit and experience all the wonderful colours the place is splashed in. Also the time
                when
                the popular Hemis Festival takes place.</p>
        </div>
    </div>
    <div class="faq-container">
        <div>
            <h5 class="number">01</h5>
        </div>
        <div class="faq-content">
            <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
            <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                mercury to
                go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is
                the
                best time to visit and experience all the wonderful colours the place is splashed in. Also the time
                when
                the popular Hemis Festival takes place.</p>
        </div>
    </div>
</div>
<div class="blog-container">
    <div class="blog-section">
        <h4 class="blog-title">Get The Latest News From All Over The World</h4>
        <p>Search Tours, Activities</p>
    </div>
    <div class="posts-container">
        <div class="post-container">
            <div class="post-img">
                <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="post-img">
            </div>
            <div class="post-title">
                <span>Goa</span>
                <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                    coast of
                    goa to.</p>
                <span class="comment"><i class="far fa-calendar"></i>Aug 30, 2020</span>
                <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="post-img">
            </div>
            <div class="post-title">
                <span>Goa</span>
                <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                    coast of
                    goa to.</p>
                <span class="comment"><i class="far fa-calendar"></i>Aug 30, 2020</span>
                <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash.png" alt="post-img">
            </div>
            <div class="post-title">
                <span>Goa</span>
                <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                    coast of
                    goa to.</p>
                <span class="comment"><i class="far fa-calendar"></i>Aug 30, 2020</span>
                <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
            </div>
        </div>
    </div>
</div>
<div class="popular-destination-box">
    <div class="title-section">
        <h4>Popular</h4>
    </div>
    <div class="city-details">
        <span>Rajasthan</span>
        <span>Bangalore</span>
        <span>Hyderabad</span>
        <span>Mumbai</span>
        <span>Shimla</span>
        <span>Manali</span>
    </div>
    <div class="city-details">
        <span>Rajasthan</span>
        <span>Bangalore</span>
        <span>Hyderabad</span>
        <span>Mumbai</span>
        <span>Shimla</span>
        <span>Manali</span>
    </div>
    <div class="city-details">
        <span>Rajasthan</span>
        <span>Bangalore</span>
        <span>Hyderabad</span>
        <span>Mumbai</span>
        <span>Shimla</span>
        <span>Manali</span>
    </div>
    <div class="city-details">
        <span>Rajasthan</span>
        <span>Bangalore</span>
        <span>Hyderabad</span>
        <span>Mumbai</span>
        <span>Shimla</span>
        <span>Manali</span>
    </div>
</div>