<section>
    <div class="input-parent">
        <div class="input-box">
            <i class="fal fa-search search-bar"></i>
            <input type="text" placeholder="Ladakh" />
        </div>
        <div class="select-box"><select name="" id="">
                <option value="SortBy">Sort By :</option>
            </select></div>
    </div>
    <div class="result-bar">
        <span class="search-result">Showing 1-20 of 109 results</span>
        <div>
            <span><img src="../../../assets/img/Group 30467.png" alt="menu-logo"> </span>
            <span><img src="../../../assets/img/Group 30466.png" alt="menu2-logo"></span>
        </div>
    </div>
</section>
<div class="container">
    <aside>
        <div class="aside-box1">
            <span>Filter</span>
            <span>Reset</span>
        </div>
        <div class="aside-box2">
            <span>Destination</span>
            <div>
                <input type="checkbox" name="Mumbai">
                <label for="Mumbai">Mumbai</label>
            </div>
            <div>
                <input type="checkbox" name="Mumbai">
                <label for="Mumbai">Mumbai</label>
            </div>
            <div>
                <input type="checkbox" name="Mumbai">
                <label for="Mumbai">Mumbai</label>
            </div>
            <div>
                <input type="checkbox" name="Mumbai">
                <label for="Mumbai">Mumbai</label>
            </div>
        </div>
        <div class="aside-box3">
            <span>Tour Type</span>
            <div>
                <input type="checkbox" name="SoloTrip">
                <label for="SoloTrip">Solo Trip</label>
            </div>
            <div>
                <input type="checkbox" name="GroupTrip">
                <label for="GroupTrip">Group Trip</label>
            </div>
            <div>
                <input type="checkbox" name="Familytrip">
                <label for="Familytrip">Family trip</label>
            </div>
        </div>
        <div class="aside-box4">
            <span>Duration</span>
            <div>
                <input type="checkbox" name="Any">
                <label for="Any">Any</label>
            </div>
            <div>
                <input type="checkbox" name="2-5Hour">
                <label for="2-5Hour">2 - 5 Hour</label>
            </div>
            <div>
                <input type="checkbox" name="1DayTour">
                <label for="1DayTour">1 Day Tour</label>
            </div>
            <div>
                <input type="checkbox" name="1WeekTour">
                <label for="1WeekTour">1 Week Tour</label>
            </div>
            <div>
                <input type="checkbox" name="7+DaysTour">
                <label for="7+DaysTour">7+ Days Tour</label>
            </div>
        </div>
        <div class="aside-box5">
            <span class="category">Categories</span>
            <div>
                <span class="aside-red">Adventure Activities</span>
            </div>
            <div class="box5-marginleft">
                <div>
                    <input type="checkbox" name="WaterSports">
                    <label for="WaterSports">Water Sports</label>
                </div>
                <div>
                    <input type="checkbox" name="Cycling">
                    <label for="Cycling">Cycling</label>
                </div>
                <div>
                    <input type="checkbox" name="Paraglyding">
                    <label for="Paraglyding">Paraglyding</label>
                </div>
                <div>
                    <input type="checkbox" name="Rafting">
                    <label for="Rafting">Rafting</label>
                </div>
            </div>
            <div class="aside-box-5">
                <div>
                    <input type="checkbox" name="AdventureTour">
                    <label for="AdventureTour">Adventure Tour</label>
                </div>
                <div>
                    <input type="checkbox" name="Trekking">
                    <label for="Trekking">Trekking</label>
                </div>
            </div>
            <span class="aside-red">Multi Day Tour</span>
            <div class="box5-marginleft">
                <div>
                    <input type="checkbox" name="BikeTour">
                    <label for="BikeTour">Bike Tour</label>
                </div>
                <div>
                    <input type="checkbox" name="PrivateTour">
                    <label for="PrivateTour">Private Tour</label>
                </div>
            </div>
        </div>
        <div class="aside-box6">
            <span>Price</span>
            <div>
                <input type="range">
            </div>
            <div class="range-box">
                <span>Min : ₹ 0</span>
                <span>Max : ₹ 5,000</span>
            </div>
        </div>
        <div class="aside-box7">
         <span>Rating</span>
        <div class="star">
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star white"></i></span>
            <span><i class="fas fa-star white"></i></span>
        </div>
        </div>
    </aside>
    <div class="column-box">
        <div class="img-box2">
            <div class="img-div">
                <img src="../../../assets/img/tour_amsterdam_2.png" alt="tour-img">
            </div>
            <div class="title-div">
                <h5>Grand Island Goa Scuba Diving</h5>

                <div class="title-box1">
                    <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                    <span><i class="fas fa-map-marker-alt"></i>Mumbai</span>
                </div>
                <div class="title-box2">
                    <p>
                        Maximum altitude: 5,130 mTemperature Range: Day is 25-30 degrees and night is 04-15
                        degreesOne of the most popular trekking route in Ladakh, the Kang Yatse Trek with Markha
                        Valley Trek is a heaven for nature enthusiasts. Walking on the banks of beautiful
                        Markh...
                    </p>
                </div>
                <div>
                    <span class="red">Read Less</span>
                </div>
            </div>
            <div class="price-div">
                <div class="content-1"><span>From ₹ 19,999</span></div>
                <div class="content-2"><span>₹ 15,999</span></div>
                <div class="content-3"> <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
                </div>
                <div class="content-4"><span>5.0 </span><span> | 40 Reviews</span></div>
                <div class="content-5"><button>Send Enquiry</button></div>
            </div>
        </div>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>

                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="right-menu">
        <div>
            <span><img src="../../../assets/img/Group 30693.png" alt="menu-logo"> </span>
        </div>
        <div>
            <span><img src="../../../assets/img/Group 30694.png" alt="menu-logo"> </span>
        </div>
    </div>
   
</div>