<div class="bg-img">
    <img src="../../../assets/img/shutterstock_74930998333.png" alt="bg-img">
    <div class="img-container">
        <div class="left-box">
            <h2>10 Days Ladakh Tour Manali To Leh Tour With Tsomoriri</h2>
            <div class="social-box">
                <div>
                    <p><i class="fas fa-images"></i>Images</p>
                </div>
                <div>
                    <p><i class="fas fa-video"></i>Video</p>
                </div>
            </div>
        </div>
        <div class="right-box">
            <div class="title-1">
                <div>
                    <p>Popular</p>
                </div>
                <div>
                    <p>Famous</p>
                </div>
                <div>
                    <p>Trending</p>
                </div>
            </div>
            <h3 class="right-box-title">10 Days Ladakh Tour Manali To Leh Tour With Tsomoriri</h3>
            <div class="review-title">
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star"></i><i class="fas fa-star"></i>5.0 | 40 Reviews</span>
            </div>
            <div class="days-box">
                <span><i class="fas fa-sun"></i>7 Days</span>
                <span><i class="fas fa-moon"></i>6 Nights</span>
                <span><i class="fas fa-map-marker-alt"></i>Ladakh, India</span>
            </div>
            <div class="city-tour-para">
                <p><i class="fas fa-check-circle"></i>City Tour</p>
                <p><i class="fas fa-check-circle"></i>City Tour</p>
                <p><i class="fas fa-check-circle"></i>City Tour</p>
            </div>
            <div class="tour-amount">
                <span>From ₹ 19,999</span>
                <span>₹ 15,999</span>
            </div>
        </div>
    </div>
    <!-- Navbar -->

    <section>
        <div class="navbar-container">
            <div class="navbar-box">
                <div class="nav-bar">
                    <h3>Details</h3>
                    <h3>Itinerary</h3>
                    <h3>Photos</h3>
                    <h3>Reviews</h3>
                    <h3>FAQ</h3>
                </div>
                <div class="title-section">
                    <h4>10 Days Ladakh Tour Manali To Leh Tour With Tsomoriri</h4>
                </div>
                <div class="review-title margin">
                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i>5.0 | 40 Reviews</span>
                </div>
                <div class="tour-details margin">
                    <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                    <span><i class="fal fa-plane-departure"></i>Airport Pickup</span>
                    <span><i class="fas fa-wifi"></i>Wi-Fi Available</span>
                </div>
                <div class="title-section top-review">
                    <h4>Top Reviews</h4>
                    <span>View All</span>
                </div>
                <div class="reviews-container">
                    <div class="review-container">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                        <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48
                            hours
                            of order confirmationPrice match within 48 hours of order confirmation</span>
                        <span class="readmore">Read Less</span>
                    </div>
                    <div class="review-container">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                        <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48
                            hours
                            of order confirmationPrice match within 48 hours of order confirmation</span>
                        <span class="readmore">Read Less</span>
                    </div>
                </div>
            </div>
            <div class="enquiry-box">
                <div class="enquiry-price">
                    <span>From ₹ 19,999</span>
                    <span>₹ 15,999</span>
                </div>
                <div>
                    <input type="text" placeholder="Name" />
                </div>
                <div>
                    <input type="text" placeholder="Email">
                </div>
                <div>
                    <input type="text" placeholder="Enter Your Mobile Number">
                </div>
                <div>
                    <input type="text" placeholder="Travel Date">
                </div>
                <div>
                    <input type="text" placeholder="No of People">
                </div>
                <div>
                    <textarea name="yourenquiry" id="yourenquiry" placeholder="Your Enquiry..."></textarea>
                </div>
                <div class="enqbtn-box">
                    <button class="enq-btn">Enquiry Now</button>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <section>
        <div class="destination-container">
            <div class="title-section destination">
                <h4>About the Destination</h4>
            </div>
            <div class="para-box">
                <p class="light">
                    Kashmir is without a doubt India’s most beautiful and doomed land. The crown jewel that is Ladakh,
                    situated at the rainy side of the Himalayas in the lap of Kashmir, is one of the most famous and
                    most popular holidays for almost every Indian. At least once, in any season they prefer, it is a
                    must visit for everyone. There is no time to visit Ladakh, as Ladakh has its own effect every
                    season.
                </p>
                <p class="light">
                    Rightly referred to as the Land of High Passes, Ladakh is home to some of the world’s highest roads
                    (Umling La, Zoji La, and Khardung La, all over 18,000 ft), and has some of the most contrasting
                    landscapes that make Ladakh even more beautiful and worthy of being more than just a destination.
                    Ladakh is a dream, which is why it must be visited at least once by everyone.
                </p>
            </div>
            <div class="para-box">
                <div class="box-one">
                    <span class="boxone-span">Departure & Return Location</span>
                    <span class="boxone-span">John F.K. International Airport</span>
                </div>
                <div class="box-one">
                    <span>Bedroom</span>
                    <span>4 Bedroom</span>
                </div>
                <div class="box-one">
                    <span>Bathroom</span>
                    <span>2 Bathroom</span>
                </div>
                <div class="box-one">
                    <span>Price Includes</span>
                    <div class="hotel-fare">
                        <span><i class="fas fa-check-circle"></i>Air fares</span>
                        <span><i class="fas fa-check-circle"></i>Tour Guide</span>
                        <span><i class="fas fa-check-circle"></i>Entrance Fees</span>
                        <span><i class="fas fa-check-circle"></i>3 Nights Hotel Accomodation</span>
                        <span><i class="fas fa-check-circle"></i>
                            <p> All transportation in destination location</p>
                        </span>
                    </div>
                </div>
                <div class="box-one">
                    <span>Price Excludes</span>
                    <div class="hotel-fare">
                        <span><i class="fas fa-times-circle"></i>Air fares</span>
                        <span><i class="fas fa-times-circle"></i>Air fares</span>
                        <span><i class="fas fa-times-circle"></i>Air fares</span>
                        <span><i class="fas fa-times-circle"></i>Air fares</span>
                    </div>
                </div>
                <div class="box-one">
                    <span>Complementaries</span>
                    <div class="hotel-fare">
                        <span><i class="fas fa-check-circle"></i>Air fares</span>
                        <span><i class="fas fa-check-circle"></i>Tour Guide</span>
                        <span><i class="fas fa-check-circle"></i>Entrance Fees</span>
                        <span><i class="fas fa-check-circle"></i>3 Nights Hotel Accomodation</span>
                        <span><i class="fas fa-check-circle"></i>
                            <p> All transportation in destination location</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="title-section destination">
                <h4>Itinerary</h4>
            </div>
            <div class="para-box">
                <h3>Day 1</h3>
                <p class="light">Kashmir is without a doubt India’s most beautiful and doomed land. The crown jewel that
                    is Ladakh, situated at the rainy side of the Himalayas in the lap of Kashmir, is one of the most
                    famous and most popular holidays for almost every Indian. At least once, in any season they prefer,
                    it is a must visit for everyone. There is no time to visit Ladakh, as Ladakh has its own effect
                    every season. Rightly referred to as the Land of High Passes, Ladakh is home to some of the world’s
                    highest roads (Umling La, Zoji La, and Khardung La, all over 18,000 ft), and has some of the most
                    contrasting landscapes that make Ladakh even more beautiful and worthy of being more than just a
                    destination. Ladakh is a dream, which is why it must be visited at least once by everyone.</p>
            </div>
            <div class="para-box">
                <h3>Day 2</h3>
                <p class="light">Kashmir is without a doubt India’s most beautiful and doomed land. The crown jewel that
                    is Ladakh, situated at the rainy side of the Himalayas in the lap of Kashmir, is one of the most
                    famous and most popular holidays for almost every Indian. At least once, in any season they prefer,
                    it is a must visit for everyone. There is no time to visit Ladakh, as Ladakh has its own effect
                    every season. Rightly referred to as the Land of High Passes, Ladakh is home to some of the world’s
                    highest roads (Umling La, Zoji La, and Khardung La, all over 18,000 ft), and has some of the most
                    contrasting landscapes that make Ladakh even more beautiful and worthy of being more than just a
                    destination. Ladakh is a dream, which is why it must be visited at least once by everyone.</p>
            </div>
            <div class="para-box">
                <h3>Day 3</h3>
                <p class="light margin-b">Kashmir is without a doubt India’s most beautiful and doomed land. The crown
                    jewel that is Ladakh, situated at the rainy side of the Himalayas in the lap of Kashmir, is one of
                    the most famous and most popular holidays for almost every Indian. At least once, in any season they
                    prefer, it is a must visit for everyone. There is no time to visit Ladakh, as Ladakh has its own
                    effect every season. Rightly referred to as the Land of High Passes, Ladakh is home to some of the
                    world’s highest roads (Umling La, Zoji La, and Khardung La, all over 18,000 ft), and has some of the
                    most contrasting landscapes that make Ladakh even more beautiful and worthy of being more than just
                    a destination. Ladakh is a dream, which is why it must be visited at least once by everyone.</p>
            </div>
        </div>
    </section>

    <!-- Photos section -->
    <section>
        <div class="destination-container">
            <div class="title-section destination">
                <h4>Photos</h4>
            </div>
            <owl-carousel-o [options]="sliderone">
                <ng-template carouselSlide>
                    <div class="slider-photo">
                        <img src="../../../assets/img/shutterstock_948517633.png" alt="slider-photos">
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="title-section destination">
                <h4>Reviews</h4>
            </div>
            <div class="boxone">
                <div class="reviews-container reviews-box">
                    <div class="review-logo box1">
                        <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                    </div>
                    <div class="review-container box2">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                    </div>
                </div>
                <div class="box1">
                    <h3 class="bold">One of the amazing Trip</h3>
                    <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                            off</span></span>
                    <p class="light margin-t">Price match within 48 hours of order confirmationPrice match within 48
                        hours of order confirmationPrice match within 48 hours of order confirmation</p>
                    <p class="red review-name end">Read Less</p>
                    <div class="likebtn-box">
                        <div class="like-btn"><span class="light"><i class="fal fa-thumbs-up"></i>This review is
                                helpful</span></div>
                        <div class="center"><span class="votes">10 Votes</span></div>
                    </div>
                    <div class="review-imgbox">
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/homepage-banner-c4fa88e01600255e68dacedd5aca1be04c1361b0c871e58746dca0617239c212.png"
                                alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div class="last-review-img">
                            <span>+5 Photos</span>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxone">
                <div class="reviews-container reviews-box">
                    <div class="review-logo box1">
                        <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                    </div>
                    <div class="review-container box2">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                    </div>
                </div>
                <div class="box1">
                    <h3 class="bold">One of the amazing Trip</h3>
                    <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                            off</span></span>
                    <p class="light margin-t">Price match within 48 hours of order confirmationPrice match within 48
                        hours of order confirmationPrice match within 48 hours of order confirmation</p>
                    <p class="red review-name end">Read Less</p>
                    <div class="likebtn-box">
                        <div class="like-btn"><span class="light"><i class="fal fa-thumbs-up"></i>This review is
                                helpful</span></div>
                        <div class="center"><span class="votes">10 Votes</span></div>
                    </div>
                    <div class="review-imgbox">
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/homepage-banner-c4fa88e01600255e68dacedd5aca1be04c1361b0c871e58746dca0617239c212.png"
                                alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div  class="last-review-img">
                            <span>+5 Photos</span>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-box">
                <div class="title-section destination">
                    <h4>FAQs</h4>
                </div>
                <div class="faq-container">
                    <div>
                        <h5 class="number">01</h5>
                    </div>
                    <div class="faq-content">
                        <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                        <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                            weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the mercury to
                            go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is the
                            best time to visit and experience all the wonderful colours the place is splashed in. Also the time when
                            the popular Hemis Festival takes place.</p>
                    </div>
                </div>
                <div class="faq-container">
                    <div>
                        <h5 class="number">01</h5>
                    </div>
                    <div class="faq-content">
                        <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                        <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                            weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the mercury to
                            go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is the
                            best time to visit and experience all the wonderful colours the place is splashed in. Also the time when
                            the popular Hemis Festival takes place.</p>
                    </div>
                </div>
                <div class="faq-container">
                    <div>
                        <h5 class="number">01</h5>
                    </div>
                    <div class="faq-content">
                        <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                        <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open. The
                            weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the mercury to
                            go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this is the
                            best time to visit and experience all the wonderful colours the place is splashed in. Also the time when
                            the popular Hemis Festival takes place.</p>
                    </div>
                </div>
            </div>
            <div class="related-tours">
                <h4>Related Tours</h4>
            </div>
            <p class="light margin margin-b">Search Tours, Activities</p> 
        </div>
    </section>
    <!--  -->
    <section>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide>
                    
                    <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                   
                        <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                     
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_9485176333.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="popular-destination-box">
            <div class="title-section destination">
                <h4>Popular</h4>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
        </div>
    </section>