<div class="dashboard-img">
    <img src='../../../assets/img/shutterstock_743964940.jpg' alt="dashboard">
</div>
<div >
    <h3 class="dashboard-heading">Dashboard</h3>
</div>
<div class="dashboard-container">
    <!-- aside section -->
    <aside>
        <p class="dash-bold">My Account</p>
        <p class="light">Dashboard</p>
        <p class="light">Edit Profile</p>
        <p class="light">Change Password</p>
        <p class="dash-bold">Tour Booking</p>
        <p class="dash-red">My Booking</p>
        <p class="light">Reviews</p>
        <p class="light">Sign Out</p>
    </aside>
    <!-- dashboard section -->
    <section>
        <div class="dash-account">
            <span class="myacc-p">Tour Booking</span>
            <span class="dash-red">❯ My Booking</span>
        </div>
        <div class="order-summary-container">
            <div class="order-summary">
                <div>
                    <h4>Order Summary</h4>
                    <span class="bold">PNR Number :</span>
                    <span class="light">123242343</span>
                </div>
                <div>
                    <span class="bold">Booking Date :</span>
                    <span class="light">July 14, 2019</span>
                </div>
                <div>
                    <span class="bold">Tour Name :</span>
                    <span class="light">Magical Ladakh Backpacking Tour Packages with Camping </span>
                </div>
                <div>
                    <span class="bold">Travel Date :</span>
                    <span class="light">February 6, 2021</span>
                </div>
            </div>
            <div class="contact-details">
                <div>
                    <h4>Contact Details</h4>
                    <span class="bold">Name :</span>
                    <span class="light">John Dep</span>
                </div>
                <div>
                    <span class="bold">Email :</span>
                    <span class="light">Demo@gmail.com</span>
                </div>
                <div>
                    <span class="bold">Phone :</span>
                    <span class="light">+91 3435435466</span>
                </div>
            </div>
            <div class="traveller-information">
                <h4>Traveller Information</h4>
                <div class="travel-container">
                    <div><span class="bold">Traveller 1 :</span></div>
                    <div class="travel-name light"><span>Mr. John Dep Age : 15</span></div>
                </div>
                <div class="travel-container">
                    <div><span class="bold">Traveller 2 :</span></div>
                    <div class="travel-name light"><span>Mr. John Dep Age : 15</span></div>
                </div>
                <div class="travel-container">
                    <div><span class="bold">Traveller 3 :</span></div>
                    <div class="travel-name light"><span>Mr. John Dep Age : 15</span></div>
                </div>
            </div>
            <div class="price-breakdown">
                <h4>Price Breakdown</h4>
                <div class="price-details">
                    <div>
                        <span class="bold">Traveller Base Price :</span>
                        <span class="light">1 x ₹ 1,800</span>
                    </div>
                    <div>
                        <span class="light">₹ 1,800</span>
                    </div>
                </div>
                <div class="price-details2">
                    <div class="details2-c">
                        <span class="bold">Additional Services :</span>
                        <span class="light">Tip for tour guide (1 x ₹ 1,800 )</span>
                    </div>
                    <div class="additional-price">
                        <span class="light">₹ 1,800</span>
                    </div>
                </div>
            </div>
            <div class="total-price-container">
                <div class="total-price">
                    <span class="bold space">Sub Total Price :</span>
                    <span class="light">₹ 1,800</span>
                </div>
                <div>
                    <span class="bold space">Tax Rate :</span>
                    <span class="light">₹ 1,800</span>
                </div>
         </div>
        <div class="total-price-container">
        <div>
            <span class="bold space">Total</span>
            <span class="light">₹ 15,800</span>
        </div>
        </div>
</div>
</section>
</div>