<div class="dashboard-img">
   <img src='../../../assets/img/shutterstock_743964940.jpg' alt="dashboard">
</div>
<div ><h3 class="dashboard-heading">Change Password</h3></div>
<div class="dashboard-container">
   <!-- aside section -->
<aside>
   <p class="dash-bold">My Account</p>
   <p class="light">Dashboard</p>
   <p class="light">Edit Profile</p>
   <p class="dash-red">Change Password</p>
   <p class="dash-bold">Tour Booking</p>
   <p class="light">My Booking</p>
   <p class="light">Reviews</p>
   <p class="light">Sign Out</p>
</aside>
<!-- dashboard section -->
<section>
   <div class="dash-account">
   <span class="myacc-p">My Account</span>
   <span class="dash-red">❯ Change Password</span>
   </div>
    <div class="pwd-container">
   <div>
       <input type="text" placeholder="Old Password"></div>
    </div>
    <div>
       <input class="new-pwd" type="text" placeholder="New Password">
   </div>
    <div>
       <input class="new-pwd" type="text" placeholder="Confirm Password">
    </div>
    
        <button class="update-btn">Update</button>

</section>
</div>