

<img src="assets/img/confirm-form-banner.png" alt="" style="opacity: 0.7; width: 100%;">
   

        <div class="banner-box">
            <img src="assets/img/line.png" alt="">
            <div class="text">
        
                <h3>Grand Island Scuba Diving in Goa in Vegator Beach</h3>
                <hr>
                Travel Date:- <samp>&nbsp; February 27,2021</samp>
                <br>
                <br>
                Total Adult:- <samp>&nbsp; 2</samp>
                <br>
                <br>
                Tital Child:- <samp>&nbsp; 2</samp>
                <hr>
                <h3>Price BreakDown</h3>
        
                Adult:- <samp>&nbsp;Rs 1,650 x 2</samp> <samp> &nbsp; &nbsp; &nbsp; Rs 3,300</samp>
                <br>
                <br>
                Child:- <samp>&nbsp;Rs 1,000 x 2</samp> <samp> &nbsp; &nbsp; &nbsp; Rs 2,000</samp>
                <br>
                <br>
                Total Price <samp style="
                font: normal normal 600 20px/34px Montserrat;
                letter-spacing: 0px;
                color: #FF5300;
                opacity: 1;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                Rs 5,300</samp>
        
            </div>
   
</div>
<div class="header-text">
    <h3 style=" position: absolute;
    margin-top: -10%;
    margin-left: 50px;
    text-align: left;
    font: normal normal bold 30px/37px Montserrat;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;">10 Days Ladakh Tour Manali To Leh Tour With Tsomoriri</h3> 

</div>

<div class="select-tour" >
    <mat-horizontal-stepper linear>
        <mat-step label="Select Tour" Completed="true">
        </mat-step>
        
        <mat-step label="Confirm Detail" Completed="true" >

            <div class="vl"></div>
            <h2>Traveller Details</h2>

            <br>
            <br>
            <br>
                <div class="form-group"  >
                   
                Name:-  <samp> <input type="text" placeholder="Enter Your Name" class="form-control" required> </samp> 
                
                Email:- <samp>  <input type="email" placeholder="demo@gmail.com" class="form-control" required> </samp>
               
               Phone:- <samp> <input type="text" name="" id="" class="form-control" required> </samp>
            
               
              Country:- &nbsp;
                <select id="country" name="country" required>
                <option value="#">Select...</option>
                <option value="india">India</option>
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
           
                </div>
                <button mat-button color="primary"  matstepperNext >Save and Continue</button>



        
       
        
        </mat-step>
            <mat-step label="Payment" completed=true>
    
                <div class="vl"></div>
            <h2>Payment</h2>
                <!-- <button mat-button matStepperPrevious>Previous</button>
                <button mat-button matstepperNext>Next</button>
                <p>billing</p>-->
                
                <br>
                <br>
                <br> 
                <div class="box-text" >

                <input type="checkbox" name="checkbox" id="chechbox"> &nbsp; I understand that Plans2pick is just a BOOKING PLATFORM and not a tour operator and I am fully aware of the supplier's inclusions, exclusions, cancellation policy and other terms and conditions of the tour and have read, understood and approved the Contract Terms and Disclaimer on the following pages.
               
                <br>
                <button mat-button color="primary" matstepperNext >Proceed to Payment</button> 

                </div>
                
               
             </mat-step>

             <mat-step label="Complete" completed=true>
                  
             <div class="box-down">
            <div class="vl">
            
            <h2>&#10003;</h2>
            </div>
            <h2>Booking Complete</h2>
                 <br >
                 <div class="box-right">

                 </div>
                 <h2 >Thank You</h2>
                
                 
                 <p> &nbsp; I understand that Plans2pick is just a BOOKING PLATFORM and not a tour operator and I am fully aware of the supplier's inclusions, exclusions, cancellation policy and other terms and conditions of the tour and have read, understood and approved the Contract Terms and Disclaimer on the following pages.
           
                  <button mat-button color="primary" matstepperNext >Go to my Dashboard</button> 
                
               
             </div>
            </mat-step>

                

              
    
    </mat-horizontal-stepper>


</div>


