<section>
    <div class="title-section">
        <h4 class="head-title">Choose The Destination Just Right For Your Vacation</h4>
    </div>
    <div class="images-container">
        <div class="img-1">
            <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
            <h3>Corporate</h3>
        </div>
        <div class="img-2">
            <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
            <h3>Solo</h3>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
            <h3>Corporate</h3>
        </div>
        <div class="img-2">
            <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
            <h3>Solo</h3>
        </div>
    <!-- </div> -->
    <!-- <div class="images-container"> -->
    <div class="img-1">
        <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
        <h3>Corporate</h3>
    </div>
    <div class="img-2">
        <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
        <h3>Solo</h3>
    </div>
    <div class="img-1">
        <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
        <h3>Corporate</h3>
    </div>
    <div class="img-2">
        <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
        <h3>Solo</h3>
    </div>
    <!-- </div> -->

    <!-- <div class="images-container"> -->
    <div class="img-1">
        <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
        <h3>Corporate</h3>
    </div>
    <div class="img-2">
        <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
        <h3>Solo</h3>
    </div>
    <div class="img-1">
        <img src="../../../assets/img/Corporate-Tour-800x9600.png" alt="favorite">
        <h3>Corporate</h3>
    </div>
    <div class="img-2">
        <img src="../../../assets/img/Solo-Tour-800x960.png" alt="favorite">
        <h3>Solo</h3>
    </div>
    </div>


</section>