<section>
    <div class="title-section">
        <h4 class="head-title">Choose The Destination Just Right For Your Vacation</h4>
    </div>
    <div class="images-container">
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
    <!-- <div class="images-container"> -->
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
    <!-- </div> -->
    <!-- <div class="images-container"> -->
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="favorite">
            <h3>LADAKH</h3>
            <h5>500+ Tours</h5>
        </div>
    </div>

</section>