<div class="img-box">
    <img src="../../../assets/img/Group 30690.png" alt="reviewist-img">
</div>
<section>
    <div>
        <div class="title-section">
            <h4>Leh Ladakh Tour Packages</h4>
        </div>
        <div class="para-box">
            <p>Take a bike ride to conquer each corner and nook in the magnificent Himalaya. Travellers from all over
                the world are on Leh Ladakh’s bike rides and are gaining popularity fast. Take a look at the natural
                beauty in the northern regions and the picturesque places linked by smooth and twisting paths. The
                Khardung La Pass, at 18,370 feet above sea level, is the highest path in the world, including the ride
                through a number of the steepest mountain ranges in India. If you’re a Biker,you won’t miss this
                exciting experience. The Delhi Leh Ladakh Bike Tour Packages is a dream trip for everyone who wants fun.
                Check out Leh Ladakh Motorcycle tour packages for an amazing bike ride to Ladakh to pedal through steep
                mountain passes and picturesque locations.</p>
        </div>
        <div class="title-section title-2">
            <h4>Popular Ladakh Bike Tour Packages</h4>
        </div>
        <div class="dash-table">
            <div class="table-head">
                <span>S.No</span>
                <span>Package Name</span>
                <span>Duration</span>
                <span>Price</span>
                <span>Details</span>
            </div>
            <div class="table-data">
                <span>1.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour Packages with Camping </p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>2.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour Packages with Camping</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>3.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour Packages with Camping</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>4.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour Packages with Camping</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>5.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour Packages with Camping</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
        </div>
        <div class="title-section title-2">
            <h4>Special Deals And Last Minute Amazing Offers</h4>
        </div>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_9485176333.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<!--  -->
<section>
    <div>
        <div class="title-section">
            <h4>Best Selling Leh Ladakh Tour Packages</h4>
        </div>
        <div class="container-box">
            <div class="column-box">
                <div class="img-box2">
                    <div class="img-div">
                        <img src="../../../assets/img/tour_amsterdam_2.png" alt="tour-img">
                    </div>
                    <div class="title-div">
                        <h5>Grand Island Goa Scuba Diving</h5>

                        <div class="title-box1">
                            <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                            <span><i class="fas fa-map-marker-alt"></i>Mumbai</span>
                        </div>
                        <div class="title-box2">
                            <p>
                                Maximum altitude: 5,130 mTemperature Range: Day is 25-30 degrees and night is 04-15
                                degreesOne of the most popular trekking route in Ladakh, the Kang Yatse Trek with Markha
                                Valley Trek is a heaven for nature enthusiasts. Walking on the banks of beautiful
                                Markh...
                            </p>
                        </div>
                        <div>
                            <span class="red">Read Less</span>
                        </div>
                    </div>
                    <div class="price-div">
                        <div class="content-1"><span>From ₹ 19,999</span></div>
                        <div class="content-2"><span>₹ 15,999</span></div>
                        <div class="content-3"> <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i></span>
                        </div>
                        <div class="content-4"><span>5.0 </span><span> | 40 Reviews</span></div>
                        <div class="content-5"><button>Send Enquiry</button></div>
                    </div>
                </div>
                <div class="img-box2">
                    <div class="img-div">
                        <img src="../../../assets/img/tour_amsterdam_2.png" alt="tour-img">
                    </div>
                    <div class="title-div">
                        <h5>Grand Island Goa Scuba Diving</h5>

                        <div class="title-box1">
                            <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                            <span><i class="fas fa-map-marker-alt"></i>Mumbai</span>
                        </div>
                        <div class="title-box2">
                            <p>
                                Maximum altitude: 5,130 mTemperature Range: Day is 25-30 degrees and night is 04-15
                                degreesOne of the most popular trekking route in Ladakh, the Kang Yatse Trek with Markha
                                Valley Trek is a heaven for nature enthusiasts. Walking on the banks of beautiful
                                Markh...
                            </p>
                        </div>
                        <div>
                            <span class="red">Read Less</span>
                        </div>
                    </div>
                    <div class="price-div">
                        <div class="content-1"><span>From ₹ 19,999</span></div>
                        <div class="content-2"><span>₹ 15,999</span></div>
                        <div class="content-3"> <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i></span>
                        </div>
                        <div class="content-4"><span>5.0 </span><span> | 40 Reviews</span></div>
                        <div class="content-5"><button>Send Enquiry</button></div>
                    </div>
                </div>
                <div class="img-box2">
                    <div class="img-div">
                        <img src="../../../assets/img/tour_amsterdam_2.png" alt="tour-img">
                    </div>
                    <div class="title-div">
                        <h5>Grand Island Goa Scuba Diving</h5>

                        <div class="title-box1">
                            <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                            <span><i class="fas fa-map-marker-alt"></i>Mumbai</span>
                        </div>
                        <div class="title-box2">
                            <p>
                                Maximum altitude: 5,130 mTemperature Range: Day is 25-30 degrees and night is 04-15
                                degreesOne of the most popular trekking route in Ladakh, the Kang Yatse Trek with Markha
                                Valley Trek is a heaven for nature enthusiasts. Walking on the banks of beautiful
                                Markh...
                            </p>
                        </div>
                        <div>
                            <span class="red">Read Less</span>
                        </div>
                    </div>
                    <div class="price-div">
                        <div class="content-1"><span>From ₹ 19,999</span></div>
                        <div class="content-2"><span>₹ 15,999</span></div>
                        <div class="content-3"> <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i></span>
                        </div>
                        <div class="content-4"><span>5.0 </span><span> | 40 Reviews</span></div>
                        <div class="content-5"><button>Send Enquiry</button></div>
                    </div>
                </div>
            </div>

            <div class="enquiry-box">
                <div class="enquiry-price">
                    <span>From ₹ 19,999</span>
                    <span>₹ 15,999</span>
                </div>
                <div>
                    <input type="text" placeholder="Name" />
                </div>
                <div>
                    <input type="text" placeholder="Email">
                </div>
                <div>
                    <input type="text" placeholder="Enter Your Mobile Number">
                </div>
                <div>
                    <input type="text" placeholder="Travel Date">
                </div>
                <div>
                    <input type="text" placeholder="No of People">
                </div>
                <div>
                    <textarea name="yourenquiry" id="yourenquiry" placeholder="Your Enquiry..."></textarea>
                </div>
                <div class="enqbtn-box">
                    <button class="enq-btn">Enquiry Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div class="title-section title-3">
            <h4>Special Deals And Last Minute Amazing Offers</h4>
        </div>
        <p class="light">Search Tours, Activities</p>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_9485176333.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--  -->
        <div class="title-section title-3">
            <h4>Special Deals And Last Minute Amazing Offers</h4>
        </div>
        <p class="light">Search Tours, Activities</p>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_14774421888.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                          
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_9485176333.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="slider-box">
                        <div class="slideimg-box">
                            <img src="../../../assets/img/shutterstock_6953927444.png" alt="slideimg1">
                        </div>
                        <div class="img-title">
                            <p>Grand Island Goa Scuba Diving | Book Online &</p>
                            <div class="img-titles">
                                <span><i class="fas fa-star yellow"></i></span>
                                <span>5.0 | 40 Reviews</span>
                            </div>
                                <div class="price">
                                    <span>₹ 1,599</span>
                                    <span>₹ 1,999</span>
                                </div>
                            <button class="enquiry-btn">Enquiry Now</button>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--  -->
        <div class="popular-destination-box">
            <div class="title-section title-3">
                <h4>Popular</h4>
            </div>
            <div class="city-details red">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section>
    <div class="title-section title-news">
        <h1 class="head-title">Get The Latest News From All Over The World</h1>
        <span class="light">Search Tours, Activities</span>
    </div>
    <div class="posts-container">
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png' alt="post1" />
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/shutterstock_245507692.png' alt="post2" />
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/shutterstock_749309983.png' alt="jonathan">
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/summertime-background-img-6.png' alt="jonathan">
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
    </div>
    <div class="posts-container">
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png' alt="post1" />
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/shutterstock_245507692.png' alt="post2" />
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/shutterstock_749309983.png' alt="jonathan">
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
        <div class="post-container">
            <div class="post-img">
                <img src='assets/img/summertime-background-img-6.png' alt="jonathan">
            </div>
            <div class="post-title">
                <p>Backpacking Laos: A Full Travel Guide for You</p>
                <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                    <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                </p>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="title-section title-4">
        <h1 class="head-title">Paradise On Earth</h1>
        <span class="light">Search Tours, Activities</span>
    </div>
    <div class="dotted-div">
        <div class="city-name">
            <p>Himachal Pradesh</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
        </div>
        <div class="city-name">
            <p>INDIA</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
        </div>
        <div class="city-name">
            <p>INDIA</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
        </div>
        <div class="city-name">
            <p>INDIA</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
            <p>Rajasthan</p>
            <p>Madhya Pradesh</p>
            <p>Himachal Pradesh</p>
            <p>Bangalore</p>
            <p>Mumbai</p>
        </div>
    </div>
</section>
<section>
    <div class="last-container">
        <div class="title-section title-4">
            <h1 class="head-title">Reviews <span class="red font-size">View All</span></h1>
        </div>
        <div class="box-container">
            <div class="boxone">
                <div class="reviews-container reviews-box">
                    <div class="review-logo box1">
                        <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                    </div>
                    <div class="review-container box2">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                    </div>
                </div>
                <div class="box1">
                    <h3 class="bold">One of the amazing Trip</h3>
                    <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                            off</span></span>
                    <p class="light margin-t">Price match within 48 hours of order confirmationPrice match within 48
                        hours of order confirmationPrice match within 48 hours of order confirmation</p>
                    <div class="likebtn-box">
                        <div class="like-btn"><span class="light light-b"><i class="fal fa-thumbs-up"></i>This review is
                                helpful</span></div>
                        <div class="center"><span class="votes">10 Votes</span>
                        </div>
                    </div>
                    <div>
                        <p class="red review-name end">Read Less</p>
                    </div>
                    <div class="review-imgbox">
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div class="last-review-img">
                            <span>+5 Photos</span>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxone">
                <div class="reviews-container reviews-box">
                    <div class="review-logo box1">
                        <img src="../../../assets/img/Group 30695.png" alt="review-logo">
                    </div>
                    <div class="review-container box2">
                        <img src='assets/img/Ellipse 202.png' alt="review">
                        <p class="review-name">Adam Levine</p>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                        <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                    </div>
                </div>
                <div class="box1">
                    <h3 class="bold">One of the amazing Trip</h3>
                    <span class="review-name">Reviewed:<span class="red"> Kudremukh Trek, Chikmagalur | Book @ Flat 27%
                            off</span></span>
                    <p class="light margin-t">Price match within 48 hours of order confirmationPrice match</p>
                    <div class="likebtn-box">
                        <div class="like-btn"><span class="light light-b"><i class="fal fa-thumbs-up"></i>This review is
                                helpful</span></div>
                        <div class="center"><span class="votes">10 Votes</span>
                        </div>
                    </div>
                    <div>
                        <p class="red review-name end">Read More</p>
                    </div>
                    <div class="review-imgbox">
                        <div>
                            <img src="../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                        <div class="last-review-img">
                            <span>+5 Photos</span>
                            <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="review-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-box">
            <div class="title-section">
                <h4>FAQs</h4>
            </div>
            <div class="faq-container">
                <div>
                    <h5 class="number">01</h5>
                </div>
                <div class="faq-content">
                    <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                    <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open.
                        The
                        weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                        mercury to
                        go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this
                        is
                        the
                        best time to visit and experience all the wonderful colours the place is splashed in. Also the
                        time
                        when
                        the popular Hemis Festival takes place.</p>
                </div>
            </div>
            <div class="faq-container">
                <div>
                    <h5 class="number">01</h5>
                </div>
                <div class="faq-content">
                    <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                    <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open.
                        The
                        weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                        mercury to
                        go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this
                        is
                        the
                        best time to visit and experience all the wonderful colours the place is splashed in. Also the
                        time
                        when
                        the popular Hemis Festival takes place.</p>
                </div>
            </div>
            <div class="faq-container">
                <div>
                    <h5 class="number">01</h5>
                </div>
                <div class="faq-content">
                    <h3>Which is the best time to visit Ladakh when all roads are open?</h3>
                    <p>July and August are the definite peak months to visit Ladakh when all roads and passes are open.
                        The
                        weather is nippy with a sunny morning and afternoon making it fit for exploration. Expect the
                        mercury to
                        go up to 25 degree Celsius and fall to about 10 degree Celsius post sunset. For bikers too this
                        is
                        the
                        best time to visit and experience all the wonderful colours the place is splashed in. Also the
                        time
                        when
                        the popular Hemis Festival takes place.</p>
                </div>
            </div>
        </div>
        <div class="popular-destination-box">
            <div class="title-section title-3">
                <h4>Popular</h4>
            </div>
            <div class="city-details red">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
            <div class="city-details">
                <span>Rajasthan</span>
                <span>Bangalore</span>
                <span>Hyderabad</span>
                <span>Mumbai</span>
                <span>Shimla</span>
                <span>Manali</span>
            </div>
        </div>
    </div>
</section>