<div class="dashboard-img">
    <img src='../../../assets/img/shutterstock_743964940.jpg' alt="dashboard">
</div>
<div >
    <h3 class="dashboard-heading">Dashboard</h3>
</div>
<div class="dashboard-container">
    <!-- aside section -->
    <aside>
        <p class="dash-bold">My Account</p>
        <p class="light">Dashboard</p>
        <p class="light">Edit Profile</p>
        <p class="light">Change Password</p>
        <p class="dash-bold">Tour Booking</p>
        <p class="light">My Booking</p>
        <p class="dash-red">Reviews</p>
        <p class="light">Sign Out</p>
    </aside>
    <!-- dashboard section -->
    <section>
        <div class="dash-account">
            <span class="myacc-p">Tour Booking</span>
            <span class="dash-red">❯ Reviews</span>
        </div>
        <div class="dash-border">
            <h4 class="dash-heading">Tour Name</h4>
        </div>
        <div class="dash-border">
            <h4 class="tour-review-name">Magical Ladakh Backpacking Tour Packages with Camping</h4>
        </div>
        <div class="dash-border">
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star yellow"></i></span>
            <span><i class="fas fa-star grey"></i></span>
            <span><i class="fas fa-star grey"></i></span>
        </div>
        <div class="dash-border">
            <input type="text" placeholder="Review Title">
        </div>
        <div class="dash-border">
            <textarea placeholder="Write Review..." name="write-review" id="write-review" cols="30"
                rows="10"></textarea>
        </div>
        <div class="dash-border">
            <div class="review-img-container">
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
            </div>
        </div>
            <div class="review-img-container">
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
                <div class="review-img">
                    <i class="far fa-times delete-btn"></i>
                <img src='../../../assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="review-img">
                </div>
        </div>
        <div class="dash-border">
            <button class="review-btn">Submit</button>
        </div>
    </section>
</div>