<section>
    <div class="title-section">
        <h4 class="head-title">Destinations In Rajasthan</h4>
    </div>
    <div class="images-container">
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Jaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Udaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Ajmer</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Jaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>

    <!-- <div class="images-container"> -->
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Jaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Udaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Ajmer</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
        <div class="img-1">
            <img src="../../../assets/img/architectural-design-architecture-building-1588032.png" alt="favorite">
            <div class="img-content">
                <h3>Jaipur</h3>
                <h5>Starts ₹ 500</h5>
            </div>
        </div>
    </div>
</section>