<main>
    <section>
        <div class="title-section">
            <h4 class="head-title">Get The Latest News From All Over The World</h4>
            <p>Search Tours, Activities</p>
        </div>
        <div class="posts-container">
            <div class="post-container">
                <div class="post-img">
                    <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
        </div>
        <div class="posts-container-2">
            <div class="post-container-2">
                <img src="../../../assets/img/tour_amsterdam_2-370x4200.png" alt="post-img2">
            </div>
            <div class="post-title-2">
                <div>
                    <h2>Sinquerim Beach – Top Beach For Water Sports Activities</h2>
                    <span class="comments"><i class="far fa-clock red"></i>24 June, 2020</span>
                    <span class="comments"><i class="far fa-user red"></i>Authorname</span>
                    <span class="comments"><i class="far fa-clipboard-list red"></i>Blog, Destination, Goa</span>
                </div>
                <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                    coast of goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach. Sinquerim
                    beach is popular for adventurous sports like skiing, parasailing, fishing, scuba diving, and
                    windsurfing.Sinquerim beach is one of the most divine places of the state, which is situated at the
                    northern coast of goa to near famous beaches like Baga Beach, Candolim Beach, and Calangute Beach.
                    Sinquerim beach is popular for adventurous sports like skiing, parasailing, fishing, scuba diving,
                    and windsurfing.</p>
                <span>Read More</span>
            </div>
        </div>
        <div class="posts-container">
            <div class="post-container">
                <div class="post-img">
                <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src="../../../assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png" alt="post-img">
                </div>
                <div class="post-title">
                    <span>Goa</span>
                    <h5>Backpacking Laos: A Full Travel Guide for You</h5>
                    <p>Sinquerim beach is one of the most divine places of the state, which is situated at the northern
                        coast of
                        goa to.</p>
                    <span class="comment"><i class="far fa-calendar red"></i>Aug 30, 2020</span>
                    <span class="comment"><i class="far fa-comment red"></i>2 Comments</span>
                </div>
            </div>
        </div>
        <div class="review-list">
            <div><span><i class="far fa-arrow-left"></i></span></div>
            <div><span>1</span></div>
            <div><span class="light">2</span></div>
            <div><span class="light">3</span></div>
            <div><span class="light">4</span></div>
            <div><span><i class="far fa-arrow-right"></i></span></div>
        </div>
    </section>
</main>