<header>
    <div class="section_heading">
        <div>
            <h1>We Plan, You Pick!</h1>
            <p>Find Excitement Wherever You May Roam</p>
        </div>
        <div class="input-parent">
            <div class="input-box">
                <i class="fal fa-search search-bar"></i>
                <input type="text" placeholder="Search Tours, Activities" />
            </div>
            <div><button>Search</button></div>
        </div>
    </div>
    <div class="head-footercontent">
        <span>BEACH</span>
        <span>BUNGEE JUMP</span>
        <span>CITY TOURS</span>
        <span>HIKING TRIPS</span>
        <span>JUNGLE</span>
        <span>SCUBA DIVING</span>
        <span>SAFARI</span>
        <span>SNOW & ICE</span>
    </div>
</header>
<!-- TOURS ACTIVITIES GALLERY SECTION -->
<main>
    <section>

        <div class="gallarycontainer">
            <div class="div1">
                <div class="div1-box">
                    <h3 class="div1-head">Find The Perfect Gateway</h3>
                    <p>Search Tours, Activities</p>
                </div>
            </div>
            <div class="div2">
                <p>Experience</p>
            </div>
            <div class="div3">
                <p>Adventure</p>
            </div>
            <div class="div4">
                <p>Holiday</p>
            </div>
        </div>
        <div class="gallarycontainer2">
            <owl-carousel-o [options]="sliderone">
                <ng-template carouselSlide>
                    <div class="div5">
                        <div class="div5-1">
                        </div>
                        <div class="div5-2">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="div6">
                        <h3>UPTO</h3>
                        <h1>70%</h1>
                        <p>OFF</p>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="div7">
                        <div class="div7-1">
                        </div>
                        <div class="div7-2">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="div8">
                        <h3>SPRING HI</h3>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </section>
    <!-- All Tours SPECIAL DEALS OFFER SECTION-->
    <section>
        <div class="title-section">
            <h1 class="head-title">Choose The Destination Just Right For Your Vacation</h1>
            <span class="view-alls">View All</span>
        </div>

        <div class="div-container">
            <owl-carousel-o [options]="slidertwo">
                <ng-template carouselSlide>
                    <p class="corporate">Corporate</p>
                    <img src="../../../assets/img/photo-1447834353189-91c48abf20e1.png" alt="slideimg1">
                </ng-template>
                <ng-template carouselSlide>
                    <p class="corporate">Corporate</p><img
                        src="../../../assets/img/photo-1447834353189-91c48abf20e1.png" alt="slideimg2">
                </ng-template>
                <ng-template carouselSlide>
                    <p class="corporate">Corporate</p><img src="../../../assets/img/shutterstock_465949868.png"
                        alt="slideimg3">
                </ng-template>
                <ng-template carouselSlide>
                    <p class="corporate">Corporate</p><img src="../../../assets/img/shutterstock_61340065.png"
                        alt="slideimg4">
                </ng-template>
                <ng-template carouselSlide>
                    <p class="corporate">Corporate</p><img src="../../../assets/img/shutterstock_61340065.png"
                        alt="slideimg5">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="title-section">
            <h1 class="head-title">Special Deals And Last Minute Amazing Offers</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="div-container2">
            <owl-carousel-o [options]="sliderthree">
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_147744218.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/photo-1447834353189-91c48abf20e11.png"
                        alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_764972821.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_151616084.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
                <ng-template carouselSlide><img src="../../../assets/img/shutterstock_178807262.png" alt="slideimg1">
                    <div class="img-title">
                        <p>Grand Island Goa Scuba Diving | Book Online &</p>
                        <div class="img-titles">
                            <span><i class="fas fa-star yellow"></i></span>
                            <span>5.0 | 40 Reviews</span>
                            <div class="price">
                                <span>₹ 1,599</span>
                                <span>₹ 1,999</span>
                            </div>
                        </div>
                        <button class="enquiry-btn">Enquiry Now</button>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </section>
    <!-- Destination section -->
    <section>
        <div class="title-section title-s">
            <h1 class="head-title">Explore Destination by Continent</h1>
            <span class="view-all">View All</span>
        </div>
        <div class="city-container">
            <owl-carousel-o [options]="sliderfour">
                <ng-template carouselSlide>
                    <div><img src="../../../assets/img/noun_Taj Mahal_2092469.png" alt="slideimg1">
                        <h1>ASIA</h1>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img src="../../../assets/img/noun_Taj Mahal_2092469.png" alt="slideimg1">
                        <h1>ASIA</h1>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img src="../../../assets/img/noun_Taj Mahal_2092469.png" alt="slideimg1">
                        <h1>ASIA</h1>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img src="../../../assets/img/noun_Taj Mahal_2092469.png" alt="slideimg1">
                        <h1>ASIA</h1>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div><img src="../../../assets/img/noun_Taj Mahal_2092469.png" alt="slideimg1">
                        <h1>ASIA</h1>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="title-section title-dest">
            <h1 class="head-title">Destinations Near You</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="city-details">
            <span>Rajasthan</span>
            <span>Bangalore</span>
            <span>Hyderabad</span>
            <span>Mumbai</span>
            <span>Shimla</span>
            <span>Manali</span>
        </div>
        <div class="city-container2">
            <div>
                <div class="city-img">
                    <img src='assets/img/architectural-design-architecture-building-1588032.png' alt="architectural">
                </div>
                <div class="cityimg-title">
                    <p>Jaipur</p>
                    <p>Starts ₹ 500</p>
                </div>
            </div>
            <div>
                <div class="city-img">
                    <img src='assets/img/architectural-design-architecture-building-1588032.png' alt="architectural">
                </div>
                <div class="cityimg-title">
                    <p>Jaipur</p>
                    <p>Starts ₹ 500</p>
                </div>
            </div>
            <div>
                <div class="city-img">
                    <img src='assets/img/architectural-design-architecture-building-1588032.png' alt="architectural">
                </div>
                <div class="cityimg-title">
                    <p>Jaipur</p>
                    <p>Starts ₹ 500</p>
                </div>
            </div>
            <div>
                <div class="city-img">
                    <img src='assets/img/architectural-design-architecture-building-1588032.png' alt="architectural">
                </div>
                <div class="cityimg-title">
                    <p>Jaipur</p>
                    <p>Starts ₹ 500</p>
                </div>
            </div>
            <div>
                <div class="city-img">
                    <img src='assets/img/architectural-design-architecture-building-1588032.png' alt="architectural">
                </div>
                <div class="cityimg-title">
                    <p>Jaipur</p>
                    <p>Starts ₹ 500</p>
                </div>
            </div>
        </div>
        <button class="viewall-btn">View All</button>
    </section>
    <!-- GET LATEST NEWS FROM ALL OVER THE WORLD -->
    <section>
        <div class="title-section title-paradise">
            <h1 class="head-title">Paradise On Earth</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="dotted-div">
            <div class="city-name">
                <p>Himachal Pradesh</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
            </div>
            <div class="city-name">
                <p>Himachal Pradesh</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
            </div>
            <div class="city-name">
                <p>Himachal Pradesh</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
            </div>
            <div class="city-name">
                <p>Himachal Pradesh</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
                <p>Rajasthan</p>
                <p>Madhya Pradesh</p>
                <p>Himachal Pradesh</p>
                <p>Bangalore</p>
                <p>Mumbai</p>
            </div>
        </div>
        <div class="title-section title-news">
            <h1 class="head-title">Get The Latest News From All Over The World</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="posts-container">
            <div class="post-container">
                <div class="post-img">
                    <img src='assets/img/jonathan-forage-1azAjl8FTnU-unsplash (1).png' alt="post1" />
                </div>
                <div class="post-title">
                    <p>Backpacking Laos: A Full Travel Guide for You</p>
                    <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                        <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                    </p>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src='assets/img/shutterstock_245507692.png' alt="post2" />
                </div>
                <div class="post-title">
                    <p>Backpacking Laos: A Full Travel Guide for You</p>
                    <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                        <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                    </p>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src='assets/img/shutterstock_749309983.png' alt="jonathan">
                </div>
                <div class="post-title">
                    <p>Backpacking Laos: A Full Travel Guide for You</p>
                    <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                        <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                    </p>
                </div>
            </div>
            <div class="post-container">
                <div class="post-img">
                    <img src='assets/img/summertime-background-img-6.png' alt="jonathan">
                </div>
                <div class="post-title">
                    <p>Backpacking Laos: A Full Travel Guide for You</p>
                    <p><span class="calender"><i class="far fa-calendar"></i></span>Aug 30, 2020
                        <span class="comment"><i class="far fa-comment"></i>2 Comments</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Video section -->

    <div class="video-src">
        <img src='assets/img/1580726335-bgtravel2.png' alt="traveling">
    </div>

    <!-- Customer Review section -->
    <section>
        <div class="title-section title-paradise">
            <h1 class="head-title">Customer Review</h1>
            <span class="viewall-2">View All</span>
        </div>
        <div class="reviews-container">
            <div class="review-container">
                <img src='assets/img/Ellipse 202.png' alt="review">
                <p class="review-name">Adam Levine</p>
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48 hours
                    of order confirmationPrice match within 48 hours of order confirmation</span>
                <span class="readmore">Read More</span>
            </div>
            <div class="review-container">
                <img src='assets/img/Ellipse 202.png' alt="review">
                <p class="review-name">Adam Levine</p>
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48 hours
                    of order confirmationPrice match within 48 hours of order confirmation</span>
                <span class="readmore">Read Less</span>
            </div>
            <div class="review-container">
                <img src='assets/img/Ellipse 202.png' alt="review">
                <p class="review-name">Adam Levine</p>
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48 hours
                    of order confirmationPrice match within 48 hours of order confirmation</span>
                <span class="readmore">Read Less</span>
            </div>
            <div class="review-container">
                <img src='assets/img/Ellipse 202.png' alt="review">
                <p class="review-name">Adam Levine</p>
                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                        class="fas fa-star white"></i><i class="fas fa-star white"></i></span>
                <p class="review-title">19 Dec, 2020 - Solo Traveller</p>
                <span class="review-para">Price match within 48 hours of order confirmationPrice match within 48 hours
                    of order confirmationPrice match within 48 hours of order confirmation</span>
                <span class="readmore">Read Less</span>
            </div>
        </div>
        <div class="title-section title-partner">
            <h1 class="head-title">Our Partners</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="icons-container">
            <div class="icon-container">
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
            </div>
            <!--  -->
            <div class="icon-containerr">

                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
                <div>
                    <img src='assets/img/tripadvisor.png' alt="trip">
                </div>
            </div>
        </div>
    </section>
    <!-- Social media Section -->
    <section>
        <div class="title-section title-partner">
            <h1 class="head-title">See Our Social</h1>
            <span class="title-tours">Search Tours, Activities</span>
        </div>
        <div class="insta-container">
            <div>
                <i class="fab fa-instagram"></i>
                <img src='assets/img/jonatan-pie-1hpE3fROU0I-unsplash.png' alt="insta1" />
            </div>
            <div>
                <i class="fab fa-instagram"></i>
                <img src='assets/img/shutterstock_1516160844.png' alt="insta2/">
            </div>
            <div>
                <i class="fab fa-instagram"></i>
                <img src='assets/img/shutterstock_94851763.png' alt="insta3" />
            </div>
            <div>
                <i class="fab fa-instagram"></i>
                <img src='assets/img/charles-postiaux-792896-unsplash.png' alt="insta3" />
            </div>
        </div>
        <div class="instagram-logo">
            <img src='assets/img/Group 30559.png' alt="">
        </div>
    </section>
</main>
<!-- Footer Section -->
<footer>
    <div class="footer">
        <div class="footer-logo-img">
            <img class="footer-logo" src='assets/img/looogoo.png' alt="logo">
        </div>
        <div class="footer-container">
            <div class="footersec-1">
                <p>ABOUT PLANS2PICK</p>
                <p>ABOUT US</p>
                <p>CAREER</p>
                <p>REVIEWS</p>
                <p>BLOG</p>
                <p>TERMS & CONDITIONS</p>
                <p>PRIVACY POLICY</p>
            </div>
            <div class="footersec-2">
                <p>FOR VENDORS</p>
                <p class="mb">LIST YOUR ACTIVITIES</p>
                <p class="footer-para">FOR TRAVEL AGENTS</p>
                <p>SIGN UP AS AGENT</p>
                <p>AGENT LOGIN</p>
            </div>
            <div class="footersec-3">
                <p>TOP DESTINATION</p>
                <div class="footer-img">
                    <img src='assets/img/shutterstock_1788072622.png' alt="footerimg1">
                    <img src='assets/img/shutterstock_647526577.png' alt="footerimg2">
                    <img src='assets/img/shutterstock_720444505.png' alt="footerimg3">
                    <img src='assets/img/shutterstock_7649728211.png' alt="footerimg4">
                </div>
                <div class="footer-img2">
                    <img src='assets/img/photo-1447834353189-91c48abf20e111.png' alt="footerimg5">
                    <img src='assets/img/shutterstock_1477442188.png' alt="footerimg6">
                    <img src='assets/img/shutterstock_713063371.png' alt="footerimg7">
                    <img src='assets/img/shutterstock_772769227.png' alt="footerimg8">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <p class="copyright">&copy;2020 plans2pick.com All rights reserved.</p>
        <div class="socialmedia-logo">
            <img src='assets/img/whatsapp.png' alt="whatsapp">
            <img src='assets/img/instagram (3).png' alt="whatsapp">
            <img src='assets/img/001-facebook.png' alt="whatsapp">
            <img src='assets/img/013-twitter.png' alt="whatsapp">
            <img src='assets/img/010-linkedin.png' alt="whatsapp">
            <img src='assets/img/008-youtube.png' alt="whatsapp">
            <img src='assets/img/002-twitter.png' alt="whatsapp">
        </div>
    </div>
</footer>