<div class="dashboard-img">
    <img src='../../../assets/img/toa-heftiba-x9I-6yoXrXE-unsplash2x.png' alt="dashboard">
</div>
<div>
    <h3 class="dashboard-heading">Edit Profile</h3>
</div>
<div class="dashboard-container">
    <!-- aside section -->
    <aside>
        <p class="dash-bold">My Account</p>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/Group 30618.png" alt="dashboard-logo"></span><span class="light">Dashboard</span>
        </div>
        <div class="aside-title">
            <span class="dash-red"><img src="../../../assets/img/edit2.png" alt="dashboard-logo"></span><span class="dash-red">Edit Profile</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/padlock.png" alt="dashboard-logo"></span><span class="light">Change Password</span>
        </div>
        <p class="dash-bold">Tour Booking</p>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/invoice.png" alt="dashboard-logo"></span><span class="light">My Booking</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/star.png" alt="dashboard-logo"></span><span class="light">Reviews</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/sign-out.png" alt="dashboard-logo"></span><span class="light">Sign Out</span>
        </div>
    </aside>
    <!-- dashboard section -->
    <section>
        <div class="dash-account">
            <span class="myacc-p">My Account</span>
            <span class="dash-red">❯ Edit Profile</span>
        </div>
        <div class="dash-profile">
            <img src='../../../assets/img/Ellipse 202.png' alt="Ellipse">
            <button>Change Profile Image</button>
        </div>
        <div class="dashprofile-container">
            <div class="input-container">
                <div><input class="name-input" type="text" placeholder="Name"></div>
                <div><input class="email-input" type="text" placeholder="Email"></div>
            </div>
            <div class="input-container">
                <div><select name="gender" id="gender">
                        <option value="Gender">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div><input class="email-input" type="text" placeholder="Enter Your Mobile Number"></div>
            </div>
            <div class="input-container">
                <div>
                    <select name="country" id="country">
                        <option value="india">India</option>
                        <option value="uk">UK</option>
                        <option value="us">US</option>
                    </select>
                </div>
            </div>
            <div><button class="update-btn">Update</button></div>
        </div>
    </section>
</div>