<div class="dashboard-img">
    <img src='../../../assets/img/toa-heftiba-x9I-6yoXrXE-unsplash2x.png' alt="dashboard">
</div>
<div>
    <h3 class="dashboard-heading">Dashboard</h3>
</div>
<div class="dashboard-container">
    <!-- aside section -->
    <aside>
        <p class="dash-bold">My Account</p>
        <div class="aside-title">
            <span class="dash-red"><img src="../../../assets/img/dashboard.png" alt="dashboard-logo"></span><span class="dash-red">Dashboard</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/edit.png" alt="dashboard-logo"></span><span class="light">Edit Profile</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/padlock.png" alt="dashboard-logo"></span><span class="light">Change Password</span>
        </div>
        <p class="dash-bold">Tour Booking</p>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/invoice.png" alt="dashboard-logo"></span><span class="light">My Booking</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/star.png" alt="dashboard-logo"></span><span class="light">Reviews</span>
        </div>
        <div class="aside-title">
            <span class="light"><img src="../../../assets/img/sign-out.png" alt="dashboard-logo"></span><span class="light">Sign Out</span>
        </div>
    </aside>
    <!-- dashboard section -->
    <section>
        <div class="dash-account">
            <span class="myacc-">My Account</span>
            <span class="dash-red">❯ Dashboard</span>
        </div>
        <div class="dash-border">
            <h4 class="dash-heading">Current Booking</h4>
        </div>
        <div class="dash-table">
            <div class="table-head">
                <span>S.No</span>
                <span>Tour Name</span>
                <span>Travel Date</span>
                <span>Total</span>
                <span>Invoice</span>
            </div>
            <div class="table-data">
                <span>1.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour  </p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>2.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>3.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>4.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
            <div class="table-data">
                <span>5.</span>
                <p class="tabledata-red">Magical Ladakh Backpacking Tour</p>
                <span>4 Nights</span>
                <span>₹ 13,800</span>
                <button class="invoice-btn">View Invoice</button>
            </div>
        </div>
    </section>
</div>