
<div class="container">
    <div class="banner-top">
        <img src="assets/img/aboutus/banner.png" alt="">
        <div class="text">
            <h3>Our Mission</h3>
            <h2>We plan you pick</h2>
        </div>
      </div>
    <div class="content">
      <h3>The most powerful theme on earth</h3>
      <h2>We plan you pick</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. . Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>  </div>
    <div class="middle-content">
        <h2>Creating memories across the world</h2>
    </div>  
   <div class="middle-banner">
       <img src="assets/img/aboutus/banner-m.png" alt="">
   </div>
   <div class="row">     
       <div class="col-sm-6">
        <h3>Our Mission</h3>
       <h2>We plan you pick</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. . Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       </div>
       <div class="col-sm-6">
         <h3>Our Vision</h3>
         <h2>We plan you pick</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. . Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>  </div>
      </div>
      <div class="header">
       <h2>
        WORK ETHICS
       </h2>
       <h1>
        Life At Plans2pick
       </h1>   
   </div>
    <div class="tabel">
      <table>
        <tbody>
          <tr>
            <td>
              <img src="assets/img/aboutus/client-1.png" alt="">
              <img src="assets/img/aboutus/client-5.png" alt="">
              <img src="assets/img/aboutus/client-8.png" alt="">
            </td>
          </tr>  
          <tr>
            <td>
              <img src="assets/img/aboutus/client-3.png" alt="">
              <img src="assets/img/aboutus/client-6.png" alt="">
              <img src="assets/img/aboutus/client-4.png" alt="">
            </td>
          </tr>
          <tr>
            <td>
              <img src="assets/img/aboutus/client-2.png" alt="">
              <img src="assets/img/aboutus/client-7.png" alt="">
              <img src="assets/img/aboutus/client-9.png" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     <div class="our-partner">
      <h2  >
        Our Partners
      </h2>
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" > 
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >
      <img src="assets/img/aboutus/partner-1.png" alt="" >  
    </div>
   <div class="worked">
    <div class="banner">
      <img src="assets/img/aboutus/banner-dwon-1.png" alt="">
    </div>
    <div class="text">
      <h3>
        WORK ETHICS
      </h3>
      <h2>
        Life At Plans2pick
      </h2>
      <input name="" id="" class="btn btn-primary btn-info" type="button" value="Join Our Team">
    </div> 
</div>
</div>
