<section>
    <div class="container">
        <div class="left-box">
            <div>
                <h2>Enquiry Now</h2>
                <div class="login-border"></div>
            </div>
            <div class="leftdiv-box">
                <div>
                    <input type="text" placeholder="Name">
                </div>
                <div>
                    <input type="text" placeholder="Email">
                </div>
                <div>
                    <input type="text" placeholder="Enter Your Mobile Number">
                </div>
                <div>
                    <input type="text" placeholder="Travel Date">
                </div>
                <div>
                    <input type="text" placeholder="No of People">
                </div>
                <div>
                    <textarea name="AddCoverLetter" placeholder="Your Enquiry..."></textarea>
                </div>
            </div>
            <div><button>Enquiry Now</button></div>
        </div>
        <div class="right-box">
            <div class="img-box">
                <img src="../../../assets/img/shutterstock_15161608444.jpg" alt="logo-img">
            </div>
            <div class="rightdiv-box">
                <h3>10 Days Ladakh Tour Manali To Leh Tour With Tsomoriri</h3>
                <div class="tour-details">
                    <span><i class="far fa-clock"></i>6 Days 7 Nights</span>
                    <span><i class="fas fa-map-marker-alt"></i>Mumbai</span>
                    <span><i class="fas fa-star"></i>5.0 | 40 Reviews</span>
                </div>
                <div class="price">
                    <span>From ₹ 19,999</span>
                    <span>₹ 15,999</span>
                </div>
                <div>
                    <p class="light">Take a bike ride to conquer each corner and nook in the magnificent Himalaya.
                        Travellers from all over the world are on Leh Ladakh’s bike rides and are gaining popularity
                        fast. Take a look at the natural beauty in the northern regions and </p>
                </div>
            </div>
        </div>
    </div>
</section>